@import ../settings/_variables
@import ../settings/_colors

html
	font-family: $--font-base-name
	// font-size: $--font-base-size
	@each $bp in $breakpoints
		@media (max-width: "#{$bp}px")
			font-size: clamp(14px, calc(100vw / $bp * 75), 32px)

h1
	font-family: $--font-header-name
	font-size: 1.75rem
	font-weight: $--font-semibold

h2
	font-family: $--font-header-name
	font-size: 1.125rem
	font-weight: $--font-semibold

h3
	font-family: $--font-header-name
	font-size: 1rem
	font-weight: $--font-medium 

a
	text-decoration: none
	color: $--th-light-main

a:link
	color: $--th-light-main

a:hover
	color: $--th-light-link-hover

a:active
	color: $--th-light-link-active
