<div class="acquaintance_auth acquaintance">
    <div class="acquaintance__logo logo">
        <img src="../assets/img/logo_medicine_2.svg" alt="logo" />
    </div>

    <h1>Вход</h1>

    <section>
        <div class="select_auth">
            <label class="select_auth__item">
                <h3>Email</h3>
                <input name="email" type="text" placeholder="patient@self.ru" />
            </label>
            <label class="select_auth__item">
                <h3>Пароль</h3>
                <input
                    name="password"
                    type="text"
                    placeholder="мин 8 символов"
                />
            </label>
        </div>
    </section>

    <section>
        <a class="button" href="../acquaintance.html">Войти</a>
        <span>Нет аккаунта? <a class="signup" href="../acquaintance.html">Регистрация</a></span>
    </section>
</div>
