
<div class="acquaintance">
    
    <section>
        <div class="acquaintance__logo logo">
            <img src="../assets/img/logo_medicine_2.svg" alt="logo">
        </div>

        <h1>Давайте знакомиться</h1>

        <div class="select_role">
            <label class="select_role__item">
                <input name="whoiam" type="radio" value="patient" checked>
                <!-- <img src="../../assets/img/svgIcons/Icon_patient_selected.svg"> -->
                <h2>Я пациент</h2>
            </label>
            <label class="select_role__item">
                <input name="whoiam" type="radio" value="doctor">
                <!-- <img src="../../assets/img/svgIcons/icon_doctor.svg"> -->
                <h2>Я доктор</h2>
            </label>
        </div>
    </section>

    <a href="../acquaintance.html">Продолжить </a>
</div>   