@import ./mixins/_mix_blocks
@import ./settings/_colors
@import ./settings/_variables

	
.acquaintance
	@include box-flex-evenly(column, 100%, 100%)

	& h1
		margin-top: calc($--dim-default-margin * 4)
	
	& a
		@include button-main()

	& section
		@include box-flex-center(column, auto, 100%)
		
	& input[type="radio"]
		appearance: none
		margin: 0
		display: none

		&:checked ~ h2
			color: $--th-light-link-active

	& select
		width: 60%
		color: $--th-light-main

.select_role
	@include box-flex-center(column, auto, 100%)
	gap: $--dim-default-gap
	margin-top: calc($--dim-default-margin * 4)

	&__item
		position: relative
		@include box-flex-center(row, 4.4rem, calc(4.4rem + 12ch))
		cursor: pointer

	&__item:has(> input[type="radio"])::before
		position: absolute
		content: ''
		left: min(-28px, -2.5rem)
		width: 4.4rem
		height: 4.4rem
		background-size: 4.4rem
		background-position: 0 center
		background-repeat: no-repeat

	&__item:has(> input[type="radio"][value="patient"])::before
		background-image: url('../assets/img/svgIcons/icon_patient.svg')

	&__item:has(> input[type="radio"][value="doctor"])::before
		background-image: url('../assets/img/svgIcons/icon_doctor.svg')

	&__item:has(> input[type="radio"][value="patient"]:checked)::before
		background-image: url('../assets/img/svgIcons/icon_patient_selected.svg')

	&__item:has(> input[type="radio"][value="doctor"]:checked)::before
		background-image: url('../assets/img/svgIcons/icon_doctor_selected.svg')
	


