@import ./mixins/_mix_blocks
@import ./settings/_colors
@import ./settings/_variables

	
.acquaintance
	@include box-flex-evenly(column, 100%, 100%)

	& h1
		margin-top: calc($--dim-default-margin * 4)

	& h2
		line-height: 3rem
	
	& a.button
		@include button-main()

	a.signup
		color: $--th-light-button-bg
		text-decoration: underline $--th-light-button-bg

		&:hover
			color: $--th-light-link-hover
			text-decoration: underline $--th-light-link-hover

	& section
		@include box-flex-start(column, auto, 100%)
		gap: $--dim-default-gap
		
	& input[type="radio"]
		display: none

		&:checked ~ h3
			color: $--th-light-link-active

	& select
		width: 60%
		line-height: 2rem
		color: $--th-light-main
		appearance: none
		padding: .6em 1.4em .5em .8em
		border-radius: .5em
		background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%)
		background-repeat: no-repeat, repeat
		background-position: right .7em top 50%, 0 0
		background-size: .65em auto, 100%

// .acquaintance_about
// 	@include box-flex-start(column, 100%, 100%)

.select_role
	@include box-flex-center(column, auto, 100%)
	gap: $--dim-default-gap
	margin-top: calc($--dim-default-margin * 4)

	&__item
		position: relative
		@include box-flex-center(row, 4.4rem, auto)
		cursor: pointer
		
		&:focus, &:active
			outline: none


	&__item:has(> input[type="radio"])::before
		position: absolute
		content: ''
		left: min(-28px, -5rem)
		width: 4.4rem
		height: 4.4rem
		background-size: 4.4rem
		background-position: 0 center
		background-repeat: no-repeat

	&__item:has(> input[type="radio"][value="patient"])::before
		background-image: url('../assets/img/svgIcons/icon_patient.svg')

	&__item:has(> input[type="radio"][value="doctor"])::before
		background-image: url('../assets/img/svgIcons/icon_doctor.svg')

	&__item:has(> input[type="radio"][value="patient"]:checked)::before
		background-image: url('../assets/img/svgIcons/icon_patient_selected.svg')

	&__item:has(> input[type="radio"][value="doctor"]:checked)::before
		background-image: url('../assets/img/svgIcons/icon_doctor_selected.svg')
	
.select_gender
	@include box-flex-center(column, 12rem, 100%)
		@media screen and (orientation: landscape)
			flex-direction: row

	&__item
		position: relative
		@include box-flex-center(row, 4.4rem, auto)
		cursor: pointer

		&:focus, &:active
			outline: none


	&__item:has(> input[type="radio"])::before
		position: absolute
		content: ''
		left: min(-28px, -5rem)
		width: 4.4rem
		height: 4.4rem
		background-size: 4.4rem
		background-position: 0 center
		background-repeat: no-repeat

	&__item:has(> input[type="radio"][value="male"])::before
		background-image: url('../assets/img/svgIcons/icon_male.svg')

	&__item:has(> input[type="radio"][value="female"])::before
		background-image: url('../assets/img/svgIcons/icon_female.svg')

	&__item:has(> input[type="radio"][value="male"]:checked)::before
		background-image: url('../assets/img/svgIcons/icon_male_selected.svg')

	&__item:has(> input[type="radio"][value="female"]:checked)::before
		background-image: url('../assets/img/svgIcons/icon_female_selected.svg')
	
.select_birthday
	@include box-flex-center(row, auto, 100%)
		margin-top: $--dim-default-margin

	&__item
		@include box-flex-center(column, auto, 100%)

		& > h3
			color: $--th-light-main-noactive
			align-self: flex-start
			padding: 0.375rem 0.75rem

		& input[type="text"]
			width: calc(100vw / 4)
			border-radius: calc($--dim-default-radius / 2)

.select_auth
	@include box-flex-evenly(column, auto, 70vw)
		gap: $--dim-default-gap

	&__item
		@include box-flex-center(column, auto, 100%)
		align-items: flex-start

		& > h3
			color: $--th-light-main-noactive
			align-self: flex-start
			padding: 0.375rem 0.75rem

		& input[type="text"]
			width: calc(70vw)
			border-radius: calc($--dim-default-radius / 2)




