@import ./staff/reset
@import ./staff/normalize
@import ./mixins/_mix-breakpoints
@import ./settings/_colors
@import ./settings/_default
@import ./mixins/_mix_blocks
@import ./staff/fonts.sass

body
	@include box-flex-between(column, 100vh, 100%)
		min-height: 100vh
		min-width: $slBreakpoint

.wrapper
	position: relative
	@include box-flex-start(column, 100%, 100%)
	min-height: 500px
	padding: 0 $--dim-default-margin * 2
	background-color: $--th-light-background 


@import ./_header
@import ./_loader
@import ./_main
@import ./_acquaintance
@import ./_footer